<html>
    <head>
        <meta charset="utf-8">

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>

        <link href="bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">

        <script src="js/app.js"></script>
    </head>
    <body ng-app="travelAutocomplete">
        <div ng-controller="HotelsAutocomplete">
            <div class="autocomplete-form">
                <input type="text" ng-model="query" ng-change="refresh()" placeholder="Hilton">
            </div>
            <div class="autocomplete-results" ng-repeat="hotel in hotels">
                <div class="autocomplete-result">
                    <span class="autocomplete-name">{{ hotel.name }}</span>
                    <span class="autocomplete-stars">Звезд: {{ hotel.stars }}</span>
                </div>
            </div>
        </div>
    </body>
</html>
